{% schema %}
    {
      "name": "Section name",
      "settings": []
    }
  {% endschema %}
  
  {% stylesheet %}
    .section-name {
        background-color: #f8f8f8;
        padding: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  {% endstylesheet %}
  
  {% javascript %}
    console.log('Hello from section-name section');
  {% endjavascript %}
  
  <div class="section-name">
    <h1>Lorem ipsum dolor sit amet</h1>
    <p>Consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

  </div>